[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vaiarrm
[access "refs/for/refs/*"]
	read = group user/vaiarrm
	push = group user/vaiarrm
	label-Code-Review = -2..+2 group user/vaiarrm
	label-Verified = -1..+1 group user/vaiarrm
	rebase = group user/vaiarrm
	removeReviewer = group user/vaiarrm
	submit = group user/vaiarrm
[access "refs/heads/*"]
	read = group user/vaiarrm
	create = group user/vaiarrm
	push = +force group user/vaiarrm
	pushMerge = group user/vaiarrm
[access "refs/tags/*"]
	push = +force group user/vaiarrm
	pushTag = group user/vaiarrm
	pushSignedTag = group user/vaiarrm
